.fcppbk article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.fcppbk-thumbnail {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.fcppbk-thumbnail img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center top;
}

.fcppbk header {
    margin-bottom: 15px;
}
.fcppbk header > * {
    margin: 0 0 12px;
}
.fcppbk h3,
.fcppbk h3 a {
    color: inherit;
}
.fcppbk-date {
    font-size: 90%;
    font-style: italic;
}
.fcppbk-excerpt {
    margin-top: 15px;
    margin-bottom: 22px;
}


.fcppbk .fcppbk-button {
    width: auto;
    margin-top: auto;
    padding: 6px 16px 4px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-weight: bold;
}

@media (max-width: 767px) {
    .fcppbk-thumbnail img {
        height: auto;
        max-height: 400px;
    }
}