.fcppbk-2-columns-1-list > div {
    display: flex;
    justify-content: space-between;
}
.fcppbk-2-columns-1-list > div > * {
    width: calc(33.333% - 20px);
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .fcppbk-2-columns-1-list > div {
        flex-wrap: wrap;
    }
    .fcppbk-2-columns-1-list > div > * {
        width: 100%;
    }
}