code {
    user-select: all;
}

fieldset>label {
    display: inline-block;
    min-width: 90px;
    margin-right: 16px;
    white-space: nowrap;
}

form h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
form h2::after {
    content: '';
    flex: 1;
    height: 1px;
    border-bottom: 1px solid black;
}

.form-table .CodeMirror {
    max-width: 680px;
    height: 100px;
}

.image {
    appearance: none;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    border: 1px solid #8c8f94;
    border-radius: 4px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}
.image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.clear1 {
    appearance: none;
    display: inline-block;
    vertical-align: top;
    margin-left:10px;
    border: 1px solid #8c8f94;
    border-radius: 50%;
    cursor: pointer;
    transform: rotate(45deg);
}

.wp-picker-container .wp-picker-clear {
    xdisplay: none;
}