.fcppbk-style-1 article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.fcppbk-style-1 .fcppbk-thumbnail {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.fcppbk-style-1 .fcppbk-thumbnail img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center top;
}
.fcppbk-style-1 .fcppbk-thumbnail img.blank {
    background-color: var(--main-color);
}

.fcppbk-style-1 header {
    margin-bottom: 15px;
}
.fcppbk-style-1 header > * {
    margin: 0 0 12px;
}
.fcppbk-style-1 h3,
.fcppbk-style-1 h3 a {
    color: inherit;
}
.fcppbk-style-1 .fcppbk-date {
    font-size: 90%;
    font-style: italic;
}
.fcppbk-style-1 .fcppbk-excerpt {
    margin-top: 15px;
    margin-bottom: 22px;
}


.fcppbk-style-1 .fcppbk-button {
    width: auto;
    margin-top: auto;
    padding: 6px 16px 4px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-weight: bold;
}

@media (max-width: 767px) {
    .fcppbk-style-1 .fcppbk-thumbnail img {
        height: auto;
        max-height: 400px;
    }
}


.fcppbk-style-1 ul {
    padding: 0;
}
.fcppbk-style-1 ul li {
    margin: 0 0 16px; 
    list-style: none;
    line-height:1.4;
}
.fcppbk-style-1 ul a {
    color: inherit;
}