.fcppbk-2-columns > div {
    display: flex;
    justify-content: space-between;
}
.fcppbk-2-columns > div > * {
    width: calc(50% - 25px);
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .fcppbk-2-columns > div {
        flex-wrap: wrap;
    }
    .fcppbk-2-columns > div > * {
        width: 100%;
    }
}